<?xml version="1.0" encoding="utf-8" ?>
<module productName="EPiTubeFasetFilter" loadFromBin="false" clientResourceRelativePath=""
        type="EPiTube.FasetFilter.Widget.Edit.EPiTubeFasetFilterModule, EPiTube.FasetFilter.Widget">
  <assemblies>
    <add assembly="EPiTube.FasetFilter.Widget" />
  </assemblies>

  <routes>
    <route controllerPrefix="EPi" url="Commerce/{controller}/{action}">
      <defaults>
        <add key="moduleArea" value="EPiServer.Commerce.Shell" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
    <route url="{moduleArea}/{controller}/{action}/"></route>
  </routes>

  <dojo>
    <packages>
      <add name="epitubefasetfilter" location="Scripts" />
    </packages>
  </dojo>

  <clientModule initializer="epitubefasetfilter.EPiTubeFasetFilterModule">
    <moduleDependencies>
      <add dependency="Commerce" />
    </moduleDependencies>
    <requiredResources>
      <add name="commerce.ui" />
    </requiredResources>
  </clientModule>
</module>