<div data-dojo-type="dijit.layout.ContentPane" style="overflow:auto;">
    <div id="facetHeading" data-dojo-attach-point="facetHeadingPoint" style="padding-bottom: 15px; padding-left: 15px;">
        <div style="font-weight: bold;">
            Heading
        </div>
        <div>
            <input type="checkbox" id="facetenabledid" checked data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="fasedEnabledPoint"><label for="facetenabledid">Enabled</label>
        </div>
        <div>
            <input type="checkbox" id="productGroupingid" checked data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="productGroupingPoint"><label for="productGroupingid">Product grouping</label>
        </div>
    </div>
    <!--<p>
            <input type="radio" name="productgrouping" id="radioProductGroup" checked value="productgroup" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-event='onClick: updateList' /> <label for="radioProductGroup">Group</label>
            <input type="radio" name="productgrouping" id="radioNoGroup" value="nogroup" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-event='onClick: updateList' /> <label for="radioNoGroup">Descendents</label>
    </p>-->
    <div id="facetitems" data-dojo-attach-point="facet">

    </div>
</div>